.children {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 20px;
}


.fullWidth {
  grid-column: 1 / -1; /* ocupa todas las columnas */
  display: flex;
  flex-direction: column; /* 👈 clave */
  align-items: center;    /* centra horizontalmente */
  gap: 1rem;              /* espacio entre SearchUser y ListaUsuarios */
}
