.children {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 10px;
  gap: 20px;
}


.fullWidth {
  grid-column: 1 / -1; /* ocupa todas las columnas */
  display: flex;
  justify-content: center; /* lo centra */
}
