.tablaUsuarios {
    border-collapse: collapse;
    width: 100%;
  }
  
  .tablaUsuarios th, .tablaUsuarios td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .tablaUsuarios th {
    background-color: #f2f2f2;
  }
  