.btn {
    border: none; 
    color: black; 
    /* padding: 14px 28px;  */
    cursor: pointer; 
    border-radius: 5px; 
    margin: 2px;
   
  }





.success {background-color: white; border: 2px solid #0c3f5c;} 
.success:hover {background-color:  #1a6da0; color: white;}

.danger {background-color: white; border: 2px solid #f44336;} 
.danger:hover {background: #d66259; color: white;}


.selectedSuccess{background-color:#0c3f5c; color: white;}
.selectedDanger{background: #da190b; color: white;}

